/* Dashboard styling */
body {
    margin: 0;
    padding: 0;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Roboto", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}

.text-primary {
    color: #666666;
}

.text-blue {
    color: #337ab7;
}

.text-red {
    color: #cc3c43;
}

.text-green {
    color: #367952;
}

.text-orange {
    color: #f5b74f;
}

.font-weight-bold {
    font-weight: 600;
}

/* Establish CSS grid for card/chart elements */
.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    grid-template-rows: 0.2fr 2fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main"
        "sidebar footer footer footer";
    height: 100vh;
}

  /* Header styling */
.header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.header-left {
    font-size: 20px;
    font-weight: 500;
}

.header-right {
    cursor: pointer;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

.menu-close {
    cursor: pointer;
    display: none;
}

/* Sidebar format and styling */
#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none; 
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
}

.sidebar-brand > span {
    font-size: 50px;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/* Main grid container format and styling */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

/* Card format and styling */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
    border-left: 7px solid orange;
}

.card:nth-child(2) {
    border-left: 7px solid red;
}

.card:nth-child(3) {
    border-left: 7px solid #337ab7;
}

.card:nth-child(4) {
    border-left: 7px solid green;
}

.card > span {
    font-size: 20px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > span {
    font-size: 35px;
}

/* Chart format and styling */
.chart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    font-size: 20px;
    font-weight: 600;
}

/* Event selection drop-down format and styling */
.dropdown-customizable {
    position: relative;
    display: inline-block;
  }
  
.dropdown-customizable select {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  }
  /* Submit button */
  .submitButton-customizable {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #337ab7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton-customizable:hover {
    color: #fff;
    background-color: #286090;
  }

/* Media queries to ensure responsiveness at any screen size  */
@media screen and (max-width: 950px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr;
        grid-template-areas:
        "header"
        "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .menu-close {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}

.card:nth-child(3) {
    grid-column: span 2;
}

.chart {
    grid-column: span 2;
}

table {
    text-align: left;
}

@media screen and (max-width: 750px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .card:first-child {
        grid-column: span 2;
    }
    
    .card:nth-child(2) {
        grid-column: span 2;
    }

    .card:nth-child(3) {
        grid-column: span 2;
    }
}

@media screen and (max-width: 550px) {
    .header-left {
        display: none;
    }
}
