<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>AWS Admin Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
<!--    <link rel="stylesheet" type="text/css" href="dashboard.css" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/dashboard.css')}}" />

    </head>
    <body onload ="hide()">
        <div class="grid-container">
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-icons-outlined">menu</span>
                </div>
                <div class="header-left">
                    <span class="username">Hello!</span>
                </div>
                    <a style="text-decoration: none; color: #666666;" href="">
                        <div class="header-right">
                            <span class="material-icons-outlined">logout</span>
                    </a>
                </div>
            </header>

            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">cloud</span> AWS
                    </div>
                    <h1 class="menu-close">
                        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                    </h1>
                </div>
                
                <ul class="sidebar-list">
                    <a style="text-decoration: none; color: #9799ab;" href="">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">space_dashboard</span> Dashboard
                        </li>
                    </a>
                    <a style="text-decoration: none; color: #9799ab;" href="login.html">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">logout</span> Logout
                        </li>
                    </a>
                </ul>
            </aside>

            <main class="main-container">
                <div class="main-title">
                    <h2>DASHBOARD</h2>
                </div>

                <div class="main-cards">
                    <div class="card">
                        <div class="card-inner">
                            <h3>EVENTS</h3>
                            <span class="material-icons-outlined text-orange">event</span>
                        </div>
                        <h1>"events_here"</h1>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h3>ALERTS</h3>
                            <span class="material-icons-outlined text-red">announcement</span>
                        </div>
                        <h1>"alerts_here"</h1>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h3>EVENT SELECTION</h3>
                            <span class="material-icons-outlined text-blue">search</span>
                        </div>
                        
                        <form method="post" id="enventForm">
                            <label for="records">Select a record:</label>
                            <select id="operations" name="operations">
                                <option value="">-- Select event name --</option>
                            </select>
                        </form>
                        <button onClick="window.location.reload();" id = "refresh">Refresh Page</button>
                        <script>
                            // Read the event names from the file
                            fetch("{{ url_for('static', filename='dashboard/events.txt')}}")
                                .then(response => response.text())
                                .then(text => {
                                    // Split the text into an array of event names
                                    const eventNames = text.split('\n');
                    
                                    // Loop through the event names and add an option to the dropdown for each one
                                    const dropdown = document.getElementById('operations');
                                    eventNames.forEach(name => {
                                        const option = document.createElement('option');
                                        option.value = name;
                                        option.textContent = name;
                                        dropdown.appendChild(option);
                                    });
                                });
                        </script>        
                        
                        <!-- form method="post" id ="dayForm">
                            <label for="records">Select a record:</label>
                            <select id="days" name="days">
                                <option value="">-- Select number of days --</option>
                            </select>
                            <br><br>
                            <input type="submit" value="Submit">
                        </form> -->
                    
                       <!--  <script>
                            // Read the event names from the file
                            fetch("{{ url_for('static', filename='dashboard/days.txt')}}")
                                .then(response => response.text())
                                .then(text => {
                                    // Split the text into an array of event names
                                    const days = text.split('\n');
                    
                                    // Loop through the event names and add an option to the dropdown for each one
                                    const dropdown2 = document.getElementById('days');
                                    days.forEach(day => {
                                        const option2 = document.createElement('option');
                                        option2.value = day;
                                        option2.textContent = day;
                                        dropdown2.appendChild(option2);
                                    });
                                });
                        </script>  --> 
                    
                    </div>
                    
                </div>
                <br>
                <div class="chart" id="chart">
                    <div class="chart-card">
                        <div class="card-inner">
                            <p class="chart-title">CHART & TABLE</p>
                        </div>
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        
                                        <th>EventId</th>
                                        <th>EventSource</th>
                                        <th>EventTime</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                
            </main>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>  
        <script src="https://code.highcharts.com/highcharts.js"></script>
<!--        <script src="dashboard.js"></script> -->
        <script src="{{ url_for('static', filename='dashboard/dashboard.js')}}"></script>

    </body>
</html>