<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>AWS Admin Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/dashboard.css')}}" />
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-icons-outlined">menu</span>
                </div>
                <div class="header-left">
                    <span class="material-icons-outlined">search</span>
                </div>
                <div class="header-right">
                    <a style="text-decoration: none; color: #666666;" href="/">
                        <span class="material-icons-outlined">logout</span>
                    </a>
                </div>
            </header>

            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">cloud</span> AWS
                    </div>
                    <h1 class="menu-close">
                        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                    </h1>
                </div>
                <ul class="sidebar-list">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">space_dashboard</span> Dashboard
                        </li>
                    </a>
                    <li class="sidebar-list-item">
                        <a style="text-decoration: none; color: #9799ab;" href="{{ url_for('table')}}">
                            <span class="material-icons-outlined">table_view</span> Table
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">show_chart</span> Chart
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">settings</span> Settings
                    </li>
                </ul>
            </aside>

            <main class="main-container">
                <div class="main-title">
                    <h2>DASHBOARD</h2>
                </div>

                <div class="main-cards">
                    <div class="card">
                        <div class="card-inner">
                            <h3>EVENTS</h3>
                            <span class="material-icons-outlined text-orange">event</span>
                        </div>
                        <h1>7</h1>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h3>ALERTS</h3>
                            <span class="material-icons-outlined text-red">announcement</span>
                        </div>
                        <h1>2</h1>
                    </div> 
                    <div class="card">
                        <a style="text-decoration: none; color: #666666;" href="{{ url_for('table')}}">
                            <div class="card-inner">
                                <h3>TABLE</h3>
                                <h1 class="material-icons-outlined text-blue">table_view</h1>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h3>CHART</h3>
                            <h1 class="material-icons-outlined text-green">show_chart</h1> 
                        </div> 
                    </div> 
                </div>
            </main>
        </div>

        <script src="{{ url_for('static', filename='dashboard/dashboard.js')}}"></script>
    </body>
</html>