<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<!DOCTYPE html>
<html>
<head>
<title>Login | AWS CloudTrail Query and Log Analysis</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/badlogin.css')}}" />

</head>

<body>
	<form method="POST">
		<h1>Login | AWS CloudTrail Query and Log Analysis</h1>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>
		<input type="submit" value="Log In">
	</form>
    <h2 class="warning-font">Invalid credentails try again</h2>
</body>
</html>